<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mon Compte - Perfect Dog Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/logo/perfectdogstore.png') }}">

        <!-- all css here -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/meanmenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        <script src="{{ asset('assets/js/vendor/modernizr-3.11.7.min.js') }}"></script>
    </head>
    <body>
        <header class="header-area">
            <div class="header-top theme-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="welcome-area">
                                <p>Bienvenue sur Perfect Dog Store</p>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="account-curr-lang-wrap f-right">
                                <ul>
                                    <li class="top-hover"><a href="#">Euro (Eu) <i class="icon-arrow-down"></i></a>
                                        <ul>
                                            <li><a href="#">Dollar (USD)</a></li>
                                            <li><a href="#">Livre Sterling (GBP)</a></li>
                                            <li><a href="#">Franc Suisse (CHF)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/fr.png') }}"> Français <i class="icon-arrow-down"></i></a>
                                        <ul>
                                            <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/en.jpg') }}">Anglais</a></li>
                                            <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/de.jpg') }}">Allemand</a></li>
                                            <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/es.jpg') }}">Espagnol</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom transparent-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5">
                            <div class="logo pt-39">
                                <a href="{{ path('app_home') }}"><img alt="" src="{{ asset('assets/img/logo/perfectdogstore.png') }}" height="60"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 d-none d-lg-block relative">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="{{ path('app_home') }}">ACCUEIL</a></li>
                                        <li class="mega-menu-position"><a href="{{ path('app_shop_details') }}">Nourriture</a></li>
                                        <li class="mega-menu-position"><a href="{{ path('app_shop_details') }}">Accessoires</a></li>
                                        <li><a href="{{ path('app_about')}}">À PROPOS</a></li>
                                        <li><a href="{{ path('app_contact')}}">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-7 relative">
                            <div class="search-login-cart-wrapper">
                                <div class="header-search same-style">
                                    <button class="search-toggle">
                                        <i class="icon-magnifier s-open"></i>
                                        <i class="ti-close s-close"></i>
                                    </button>
                                    <div class="search-content">
                                        <form action="#">
                                            <input type="text" placeholder="Rechercher">
                                            <button>
                                                <i class="icon-magnifier"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-login same-style">
                                    <a href="{{ path('app_login') }}"><i class="icon-user icons"></i></a>
                                </div>
                                <div class="header-cart same-style">
                                    <button class="icon-cart">
                                        <i class="icon-handbag"></i>
                                        <span class="count-style">0</span>
                                    </button>
                                    <div class="shopping-cart-content">
                                        <ul>
                                            <li class="single-shopping-cart">
                                                <div class="shopping-cart-img">
                                                    <a href="#"><img alt="" src="{{ asset('assets/img/cart/cart-1.jpg') }}"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="#">Nourriture pour Chien</a></h4>
                                                    <h6>Qté: 1</h6>
                                                    <span>30,00€</span>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="ti-close"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-total">
                                            <h4>Total : <span class="shop-total">30,00€</span></h4>
                                        </div>
                                        <div class="shopping-cart-btn">
                                            <a href="{{ path('app_panier') }}">voir le panier</a>
                                            <a href="{{ path('app_panier') }}">paiement</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu-area electro-menu d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                            <div class="mobile-menu">
                                <nav id="mobile-menu-active">
                                    <ul class="menu-overflow">
                                        <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                        <li><a href="{{ path('app_shop_details') }}">Nourriture</a></li>
                                        <li><a href="{{ path('app_shop_details') }}">Accessoires</a></li>
                                        <li><a href="{{ path('app_about')}}">À propos</a></li>
                                        <li><a href="{{ path('app_contact')}}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url({{ asset('assets/img/banner/banner-account.png') }});">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>Mon Compte</h2>
                    <ul>
                        <li><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="active">Mon Compte</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- my account start -->
        <div class="my-account-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="checkout-wrapper">
                            <div id="faq" class="panel-group">
                                <!-- Section 1: Modifier les informations du compte -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>1</span> <a data-bs-toggle="collapse" href="#my-account-1">Modifier vos informations personnelles</a></h5>
                                    </div>
                                    <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>Informations de mon compte</h4>
                                                    <h5>Vos informations personnelles</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Prénom</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Nom</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Adresse e-mail</label>
                                                            <input type="email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Téléphone</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Fax</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="#"><i class="ti-arrow-up"></i> Retour</a>
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit">Continuer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Section 2: Changer le mot de passe -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>2</span> <a data-bs-toggle="collapse" href="#my-account-2">Changer votre mot de passe</a></h5>
                                    </div>
                                    <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>Changer le mot de passe</h4>
                                                    <h5>Votre mot de passe</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Mot de passe actuel</label>
                                                            <input type="password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Nouveau mot de passe</label>
                                                            <input type="password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Confirmer le mot de passe</label>
                                                            <input type="password">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="#"><i class="ti-arrow-up"></i> Retour</a>
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit">Continuer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Section 3: Modifier les entrées du carnet d'adresses -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>3</span> <a data-bs-toggle="collapse" href="#my-account-3">Modifier les entrées du carnet d'adresses</a></h5>
                                    </div>
                                    <div id="my-account-3" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>Entrées du carnet d'adresses</h4>
                                                </div>
                                                <div class="entries-wrapper">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                                                            <div class="entries-info text-center">
                                                                <p>Jean Dupont</p>
                                                                <p>12 Rue des Chiens, 75000 Paris, France</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                                                            <div class="entries-edit-delete text-center">
                                                                <a class="edit" href="#">Modifier</a>
                                                                <a href="#">Supprimer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="#"><i class="ti-arrow-up"></i> Retour</a>
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit">Continuer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Section 4: Modifier la liste de souhaits -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>4</span> <a href="{{ path('app_wishlist') }}">Modifier votre liste de souhaits</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-area">
            <div class="footer-top pt-80 pb-50 gray-bg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="footer-info-wrapper">
                                    <div class="footer-logo">
                                        <a href="#">
                                            <img src="{{ asset('assets/img/logo/perfectdogstore.png') }}" height="60" alt="">
                                        </a>
                                    </div>
                                    <p>Offrez le meilleur à votre compagnon à quatre pattes avec notre sélection premium de nourriture pour animaux, livrée directement chez vous !</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/fb.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/instagram.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/snapchat.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/tiktok.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/web.png') }}" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30 pl-50">
                                <h4 class="footer-title">LIENS UTILES</h4>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                                        <li><a href="#">Conditions Générales de Vente</a></li>
                                        <li><a href="#">Retours & Remboursements</a></li>
                                        <li><a href="#">Politique de confidentialité</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30 pl-70">
                                <h4 class="footer-title">AIDE</h4>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Suivi des commandes</a></li>
                                        <li><a href="#">Livraison</a></li>
                                        <li><a href="#">Retours</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom gray-bg-3 pt-17 pb-15">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright text-center">
                                <p>Copyright © <a href="#">perfect-dog-store</a> Tous droits réservés.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- all js here -->
        <script src="{{ asset('assets/js/vendor/jquery-v1.12.4.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
        <script src="{{ asset('assets/js/elevetezoom.js') }}"></script>
        <script src="{{ asset('assets/js/ajax-mail.js') }}"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
    </body>
</html>