<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Contact - Perfect Dog Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}">

        <!-- all css here -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/meanmenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        <script src="{{ asset('assets/js/vendor/modernizr-3.11.7.min.js') }}"></script>
    </head>
    <body>
<header class="header-area">
            <div class="header-top theme-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="welcome-area">
                                <p>Bienvenue sur Perfect Dog Store</p>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="account-curr-lang-wrap f-right">
                                <ul>
                                    <li class="top-hover"><a href="#">Euro (Eu) <i class="icon-arrow-down"></i></a>
                                        <ul>
                                            <li><a href="#">Taka (BDT)</a></li>
                                            <li><a href="#">Riyal (SAR)</a></li>
                                            <li><a href="#">Roupie (INR)</a></li>
                                            <li><a href="#">Dirham (AED)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/fr.png') }}"> Français <i class="icon-arrow-down"></i></a>
                                        <ul>
                                            <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/bl.jpg') }}">Bengali </a></li>
                                            <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/ar.jpg') }}">Arabe</a></li>
                                            <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/in.jpg') }}">Hindi </a></li>
                                            <li><a href="#"><img alt="drapeau" src="{{ asset('assets/img/icon-img/sp.jpg') }}">Espagnol</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom transparent-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5">
                            <div class="logo pt-39">

                                <a href="{{ path('app_home') }}"><img alt="" src="{{ asset('assets/img/logo/perfectdogstore.png') }}" height="60"></a>

                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 d-none d-lg-block relative">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="{{ path('app_home') }}">ACCUEIL</a>
                                            
                                        </li>
                                        <li class="mega-menu-position"><a href="{{ path('app_shop_details') }}">Nourriture</a>
                                        <li class="mega-menu-position"><a href="{{ path('app_shop_details') }}">Accessoires</a>
                                        </li>
                                        
                                        
                                        <li><a href="{{ path('app_about')}}">À PROPOS</a></li>
                                        <li><a href="{{ path('app_contact')}}">contactez-nous</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-7 relative">
                            <div class="search-login-cart-wrapper">
                                <div class="header-search same-style">
                                    <button class="search-toggle">
                                        <i class="icon-magnifier s-open"></i>
                                        <i class="ti-close s-close"></i>
                                    </button>
                                    <div class="search-content">
                                        <form action="#">
                                            <input type="text" placeholder="Rechercher">
                                            <button>
                                                <i class="icon-magnifier"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-login same-style">
                                    {% if app.user %}
                                        <a href="{{ path('app_account') }}"><i class="icon-user icons"></i></a>
                                    {% else %}
                                        <a href="{{ path('app_register') }}"><i class="icon-user icons"></i></a>
                                    {% endif %}
                                </div>
                                <div class="header-cart same-style">
                                    <button class="icon-cart">
                                        <i class="icon-handbag"></i>
                                        <span class="count-style">02</span>
                                    </button>
                                    <div class="shopping-cart-content">
                                        <ul>
                                            <li class="single-shopping-cart">
                                                <div class="shopping-cart-img">
                                                    <a href="#"><img alt="" src="{{ asset('assets/img/cart/cart-1.jpg') }}"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="#">Nourriture Calcium pour Chien</a></h4>
                                                    <h6>Qté: 02</h6>
                                                    <span>260,00€</span>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="ti-close"></i></a>
                                                </div>
                                            </li>
                                            <li class="single-shopping-cart">
                                                <div class="shopping-cart-img">
                                                    <a href="#"><img alt="" src="{{ asset('assets/img/cart/cart-2.jpg') }}"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="#">Nourriture Calcium pour Chien</a></h4>
                                                    <h6>Qté: 02</h6>
                                                    <span>260,00€</span>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="ti-close"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-total">
                                            <h4>Livraison : <span>20,00€</span></h4>
                                            <h4>Total : <span class="shop-total">260,00€</span></h4>
                                        </div>
                                        <div class="shopping-cart-btn">
                                            <a href="{{ path('app_panier') }}">voir le panier</a>
                                            <a href="checkout.html">paiement</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu-area electro-menu d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                            <div class="mobile-menu">
                                <nav id="mobile-menu-active">
                                    <ul class="menu-overflow">
                                        <li><a href="#">Accueil</a></li>
                                        <li><a href="#">Nourriture</a></li>
                                        <li><a href="#">Accessoires</a></li>
                                        <li><a href="#">À propos</a></li>
                                        <li><a href="contact.html">Contactez-nous</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url({{ asset('assets/img/banner/banner-2.jpg') }});">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>Contactez-nous</h2>
                    <ul>
                        <li><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="active">Contactez-nous</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="contact-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="contact-info-wrapper text-center mb-30">
                            <div class="contact-info-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="contact-info-content">
                                <h4>Notre adresse</h4>
                                <p>65 RTE ST DENIS, 95170</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="contact-info-wrapper text-center mb-30">
                            <div class="contact-info-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="contact-info-content">
                                <h4>Contactez-nous à tout moment</h4>
                                <p>Mobile : +33 6 59 19 54 08</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="contact-info-wrapper text-center mb-30">
                            <div class="contact-info-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="contact-info-content">
                                <h4>Écrivez-nous</h4>
                                    <p><a href="mailto:perfect-perfect.bull@laposte.net">perfect-perfect.bull@laposte.net</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contact-message-wrapper">
                            <h4 class="contact-title">ENTRER EN CONTACT</h4>
                            <div class="contact-message">
                                <form id="contact-form" action="{{ path('app_contact') }}" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="contact-form-style mb-20">
                                                <input name="name" placeholder="Nom complet" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="contact-form-style mb-20">
                                                <input name="email" placeholder="Adresse e-mail" type="email" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-form-style mb-20">
                                                <input name="subject" placeholder="Sujet" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-form-style">
                                                <textarea name="message" placeholder="Message" required></textarea>
                                                <button class="submit btn-style" type="submit">ENVOYER LE MESSAGE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-map">
                    <div id="map"></div>
                </div>
            </div>
        </div>

		       <footer class="footer-area">
            <div class="footer-top pt-80 pb-50 gray-bg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="footer-info-wrapper">
                                    <div class="footer-logo">
                                        <a href="{{ path('app_home') }}">
                                            <img src="{{ asset('assets/img/logo/perfectdogstore.png') }}" height="60" alt="">
                                        </a>
                                    </div>
                                    <p>Offrez le meilleur à votre compagnon à quatre pattes avec notre sélection premium de nourriture pour animaux, livrée directement chez vous !</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/fb.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/instagram.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/snapchat.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/tiktok.png') }}" alt=""></a></li>
                                            <li><a href="#"><img src="{{ asset('assets/img/icon-img/web.png') }}" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30 pl-50">
                                <h4 class="footer-title">LIENS UTILES</h4>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="contact.html">Contactez-nous</a></li>
                                        <li><a href="#">Site perfect-bull-Kennel</a></li>
                                        <li><a href="#">Conditions Générales de Ventes</a></li>
                                        <li><a href="#">Retours & Remboursements</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30 pl-70">
                                <h4 class="footer-title">AIDES</h4>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Suivi des commandes</a></li>
                                        <li><a href="#">Retours</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom gray-bg-3 pt-17 pb-15">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright text-center">
                                <p>Copyright © <a href="{{ path('app_home') }}">Perfect Dog Store</a> Tous droits réservés.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="assets/js/vendor/jquery-v1.12.4.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/elevetezoom.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmGmeot5jcjdaJTvfCmQPfzeoG_pABeWo"></script>
		<script>
            function init() {
                var mapOptions = {
                    zoom: 15,
                    scrollwheel: false,
                    center: new google.maps.LatLng(48.9833, 2.3667),
                    styles: 
                    [
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#444444"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 45
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#F6AB44"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        }
                    ]
                };

            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
            position: new google.maps.LatLng(48.9833, 2.3667), // Coordonnées de l'adresse
            map: map,
            icon: '{{ asset("assets/img/icon-img/map.png") }}', // Icône personnalisée
            animation: google.maps.Animation.BOUNCE,
            title: '65 RTE ST DENIS, 95170'
        });
            }
            google.maps.event.addDomListener(window, 'load', init);
		</script>
        <script src="assets/js/main.js"></script>
    </body>
</html>